.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 4rem;
  background-color: #111;
  padding:15px;
  position: sticky;
  top: 0;
  z-index: 1;
}

.navbar .logo img {
  width: 150px;
}

.navbar .profile img {
  width: 35px;
  border-radius: 5px;
}


@media screen and (max-width:750px) {

  .navbar {
    height:3.5rem;
  }

  .navbar .logo img {
    width: 100px;
  }
  .navbar .profile img {
    width:30px;
  }
  
  
}